<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="ru.alisa.springAnnotations"/>
<!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->
    <context:property-placeholder location="classpath:gameConsole.properties"/>
<!--    <bean id="musicBean"-->
<!--          class = "ru.alisa.springfirst.FolkMusic">-->
<!--    </bean>-->


<!--    <bean id="folkBean"-->
<!--          class = "ru.alisa.springfirst.FolkMusic"-->
<!--    scope="prototype"-->
<!--    init-method="initFolk"-->
<!--    destroy-method="destroyFolk">-->
<!--    </bean>-->
<!--    <bean id="rockBean"-->
<!--          class="ru.alisa.springfirst.RockMusic">-->
<!--    </bean>-->
<!--    <bean id="classicBean"-->
<!--          class="ru.alisa.springfirst.ClassicalMusic">-->
<!--    </bean>-->

<!--    <bean id="musicPlayer"-->
<!--          class="ru.alisa.springfirst.MusicPlayer">-->
<!--&lt;!&ndash;        <property name="music" ref="musicBean"/>&ndash;&gt;-->
<!--        <property name="name" value="someName"/>-->
<!--        <property name="volume" value="50"/>-->
<!--        <property name="producer" value="${musicPlayer.producer}"/>-->
<!--        <property name="musicList">-->
<!--            <list>-->
<!--&lt;!&ndash;                <ref bean="folkBean"/>&ndash;&gt;-->
<!--                <ref bean="rockBean"/>-->
<!--                <ref bean="classicBean"/>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->

</beans>